@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,300&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    outline-style: none;
    list-style-type: none;
}

:root {
    /* colors */

    --black: #050404;
    --light-gray: #696969;
    --dark-gray: #181515;
    --light: #ffffff;
    --primary: #ff8800;

    /* Font-weight */

    --blod: 700;
    --medium: 500;
    --regular: 300;
}

/* Global Styles */

body {
    font-family: 'Montserrat', sans-serif;
}

a,
li {
    font-size: 16px;
    text-decoration: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 16px;
    padding: 10px 30px;
}

h1 {
    margin: 1rem 0;
    font-family: var(--curvy);
}


/* End of Global Stlyes*/

/* Navigation Styles */

header {
    background: var(--black);
    color: var(--light);
    align-items: center;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    padding: 30px 10%;
    position: fixed;
}

.nav-brand {
    font-size: 2rem;
}

.orange {
    color: var(--primary);
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li>a {
    font-family: var(--fantasy);
    color: var(--light);
    transition: all .5s ease 0s;
}

.nav-links li>a:hover {
    color: var(--primary);
}

.active {
    color: var(--primary) !important;
}

.social>span {
    padding: 0px 20px;
}

/* End of Navigation styles */

/* Jumbotron */

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(5, 5, 5, 0.6)), url('../images/joey-banks-YApiWyp0lqo-unsplash.jpg') center no-repeat;
    background-size: cover;
    height: 80vh;
}

.jumbotron-content {
    color: var(--light);
    padding-top: 200px;
    width: 450px;
    margin: auto;
}

.jumbotron-content h1 {
    font-family: var(--curvy);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.jumbotron-content p {
    font-family: fantasy;
    margin-bottom: 1rem;
}

.jumbotron-content .btn {
    border: none;
    background: var(--primary);
    color: var(--light);
    transition: all .5s ease 0s;
}

.jumbotron-content .btn:hover {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.jumbotron-content .btn-tow {
    border: 1px solid var(--primary);
    color: var(--primary);
    background: transparent;
    transition: all .5s ease 0s;
}

.jumbotron-content .btn-tow:hover {
    border: none;
    background: var(--primary);
    color: var(--light);
}

/* End of Jumbotron */

/* Services */

.services {
    padding: 30px 10%;
    justify-content: space-between;
}

.cards {
    justify-content: space-between;
    align-items: center;
}

.service-card {
    width: 400px;
    margin: .5rem;
    box-shadow: 0px 0px 10px 0px var(--light-gray);
}

.sevice-card_img {
    max-width: 100%;
    height: 300px;
}

.card-content {
    padding: 1rem;
}

.card-content h3 {
    margin: .6rem;
    font-weight: var(--blod);
}

.btn-service {
    color: var(--light);
    border: none;
    background: var(--primary);
    padding: .3rem .6rem;
    margin-top: 1rem;
}

/* End of Services */

/* Main Content */

main {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0px 10%;
}

/* Blog styles */

.blog {
    margin-right: 2rem;
}

.blog-container {
    margin: 2rem 0;
}

.blog-container img {
    max-width: 100%;
}

.blog-title {
    font-family: var(--curvy);
    color: var(--dark-gray);
    font-size: 1.6rem;
}

.btn-blog {
    border: none;
    margin-top: 1rem;
    color: var(--light);
    background: var(--black);
    transition: all .5s ease 0s;
}

.btn-blog:hover {
    background: var(--primary);
}

/* End of Blod styles */

/* Sidebar */

.side-container {
    margin: 2rem 0;
}

.side-container img {
    max-width: 100%;
}

.side-title {
    font-family: var(--curvy);
    color: var(--dark-gray);
}

.subscribe input {
    width: 100%;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
}

.btn-sub {
    display: block;
    border: none;
    color: var(--light);
    background: var(--black);
    transition: all .5s ease 0s;
    margin-bottom: 1rem;
}

.btn-sub:hover {
    background: var(--primary);
}

/* End of sidebar */

/* End of Main Content */

/* Footer Styles */

.footer {
    background: var(--black);
    padding: 2rem;
    color: var(--light-gray);
}

.footer h3 {
    font-family: var(--fantasy);
    margin-bottom: 1rem;
    color: var(--light);
}

.footer-container {
    padding: 30px 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.mail input {
    width: 100%;
    padding: .3rem;
}

.btn-mail {
    margin-top: .5rem;
    padding: 0.2rem;
    border: none;
    color: var(--light);
    background: var(--primary);
    transition: all .5s ease 0s;
}

.btn-mail:hover {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.gala {
    width: 70px;
}

.gala img {
    max-width: 100%;
    margin: .5rem;
}

.right {
    text-align: center;
}

/* End of Footer styles */

/* media Query */

@media (max-width: 600px) {
    header {
        height: 150px;
    }

    .nav-brand {
        width: 30%;
        margin: auto;
    }

    .social {
        width: 70%;
        margin: auto;
    }

    .jumbotron-content {
        width: 300px;
    }

    main {
        grid-template-columns: 100%;
    }

    .blog {
        margin: 0;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .gala {
        width: 100px;
    }

    .right {
        padding: 30px 10%;
        text-align: justify;
    }
}